@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional Flowbite */
@import "flowbite";

@keyframes ripple {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(2.5); opacity: 0; }
}

.animate-ripple {
  animation: ripple 0.6s ease-out;
}